@using Clerk.Core

@model IEnumerable<Department>

@{
    ViewData["Title"] = "Відділи";
}

<div class="pagetitle">
    <h1><i class="bi bi-briefcase"></i>&nbsp;&nbsp;@ViewData["Title"]</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Головна</a></li>
            <li class="breadcrumb-item active">Відділи</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section">
    <div class="row">
        <div class="col-lg-12">

            <div class="card">
                <div class="card-body">
                    <div style="float:right; margin:20px 0 0 0"> 
                        <a href="/department/create" class="btn btn-primary"><i class="bi bi-node-plus-fill"></i> Додати</a>
                    </div>
                    <h5 class="card-title">Перелік відділів</h5>

                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Назва</th>
                                <th scope="col">К-ть працівників</th>
                                <th scope="col">Дії</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var d in Model)
                            {

                                <tr>
                                    <td>@d.Title</td>
                                    <td>@d.Positions.Count()</td>
                                    <td>
                                        <a href="/department/edit/@d.Id" class="btn btn-warning" data-bs-toggle="tooltip" data-bs-placement="top" title="Редагувати"><i class="bi bi-pencil-fill"></i></a>
                                        <a href="/department/delete/@d.Id" class="btn btn-danger" data-bs-toggle="tooltip" data-bs-placement="top" title="Видалити"><i class="bi bi-trash-fill"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</section>
